<!DOCTYPE html>
<html lang="en">
    <head>
        <title>AboutUs</title>
        <link rel="stylesheet" href="../static/styles/about.css"/>
    <head>
        <header>
            <h1>About Us</h1>
        </header>
    </head>
    <body>
        <div class="about">
            <p>I was inspired by a friend who felt 
                that he didn't have a chance in the 
                proffessional space and was in search of the right mentor.
                Alot of mentors out there are passionate about
                ushering driven individuals into their career world, I wanted
                to create a space where a mentee could proudly Identify themselves
                as beginners and meet other individuals doing so.
            </p>
        </div>
    </body>
<html>
