<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MentConnect</title>
        <script src="../static/scripts/redirect.js"></script>
        <script src="../static/scripts/choosepath.js" defer></script>
        <link rel="stylesheet" type="text/css" href="../static/styles/choosepath.css">
    </head>
    <body>
        <button class="discover-button" onclick="ChoosePathWindow()">Discover Your Path</button>
        <div id="career-paths-container">
            <button id="careerPathsButton">Career Paths</button>
            <div id="career-paths" class="dropdown-content">
                <button class="career-path" data-path="Graphic Design">Graphic Design</button>
                <button class="career-path" data-path="Environmental Science">Environmental Science</button>
                <button class="career-path" data-path="Social Work">Social Work</button>
	        <div class="Your-selected">Your Selected Career Path:
			<p id="selectedCareerPath"></p>
	        </div>
		<button id="getStarted">Get Started</button>
	    </div>
        </div>
    </body>
</html>
