<!DOCTYPE html>
<html lang="en">
    <head>
        <title><mentconnect></mentconnect></title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/styles/common.css"/>
        <link rel="stylesheet" href="../static/styles/header.css"/>
        <link rel="stylesheet" href="../static/styles/footer.css"/>
        <link rel="stylesheet" href="../static/styles/filters.css"/>
    </head>
    <body>
        <header>
            <div class="container-left-right">
                <h4>mentConnect<h4>
                <button class="container-left">Contact us</button>
                <button class="container-right">About us</button>
            </div>
        </header>
        <div class="image-container"></div>
        <strong><h1 class="welcome">Welcome to MentConnect</h1></strong>
        <strong><p class="find">Connecting with like minds</p></strong>
        <button class="third-button"><strong>Get Started</strong></button>
        <div class="first-highlight">Free Mentorship</div>
        <div class="first-reason">We offer a free mentorship 
                platform to connect with mentors who are passionate 
                about impacting knowledge</div>
        <div class="second-highlight">Community</div>
        <div class="second-reason">Meet a community of individuals with shared
            interests</div>
        <div class="third-highlight">Careerpath Discovery</div>
        <div class="third-reason">Confused about the next step?, MentConnect helps 
                you discover the right career path</div>
        <footer></footer>
    </body>
<html>