<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../static/styles/main-app.css">
        <script src="../static/scripts/dropdown.js"></script>
    </head>
    <body>
        <header>
            <div class="dropdown">
                <img src="../images/icons8-user-30.png" alt="User icon" class="user-icon" id="userIcon">
                <div class="dropdown-content" id="dropdownContent">
                    <a href="#role">Role</a>
                    <a href="#account">Account</a>
                    <a href="#logout">Logout</a>
                </div>
            </div>
            <form class="search-form" action="/search" method="GET">
                <input type="search" placeholder="Search..." name="query" class="search-input" required>
                <button type="submit" class="search-button">Search</button>
            </form>         
        </header>
        <div class="post-display">
            <img src="../images/icons8-user-30.png" class="post-user">
            <div class="name">Moses Esumei</div>
            <div class="role">Mentor</div>
            <div class="specialization">Accounting</div>
            <div class="post-blog">This is my first post on this platform and I am really excited</div>
            <img src="../images/icons8-facebook-like-50.png" class="likes-icon">
            <div class="likes">2 likes</div>
        </div>   
        <button class="circle">1</button>
        <div class="post">
            <img src="../images/icons8-post-96.png" class="post-icon">
            <div class="write-post">Posts and Requests</div>
            <img src="../images/icons8-notification-60.png" alt="alert icon" id="alertIcon">
            <form id="postForm">
                <textarea id="postContent" rows="4" placeholder="Post here"></textarea>
            </form>
            <button id="post-button">Post</button>
            <button id="request-button">Request</button>
        </div>
        <footer></footer>
    </body>
</html>
