header {
    background-color: white;
    border-bottom: 3px orange;
}

.user-icon {
    max-width: 100%;
    width: 30px;
    height: 30px;
    margin-right: 100px;
    margin-bottom: -25px;
    cursor: pointer;
}

.search-button {
    cursor: pointer;
    background-color: orange;
    border-radius: 5px;
    border: None;
    color: white;
    width: 70px;
    height: 30px;
}
.search-button:hover {
    color: orangered;
}
.search-input {
    border-radius: 5px;
    margin-left: 50px;
    height: 30px;
    margin-top: -20px;
    outline-color: orange;
    border: None;
    width: 1100px;
    background-color: whitesmoke;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    background-color: whitesmoke;
    position: absolute;
    z-index: 1;
    box-shadow:  0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 160px;
    width: 200px;
    height: 1200px;
    display: none;
    margin-top: -20px;
}
.dropdown-content.show {
    display: block;
}

.dropdown-content a {
    display: block;
    font-size: 2em;
    margin: 50px;
    color: orange;
    text-shadow: 3px black;
}

.post {
    margin-top: 50px;
    height: 1000px;
    width: 300px;
    margin-left: -300px;
    background-color: whitesmoke;
    float: right;
}

.post-icon {
    width: 50px;
}
.write-post {
    margin-left: 60px;
    margin-top: -45px;
    font-size: 2em;
    width: 150px;
    color: orange;
    text-shadow: 1px 1px 0px black;
}
textarea#postContent {
    width: 300px;
    margin-top: 10px;
    height: 200px;
    border-color: orange;
}
button#post-button {
    margin-top: 50px;
    width: 100px;
    height: 50px;
    background-color: orange;
    border: none;
    color: white;
    margin-left: 10px;
    border-radius: 6px;
    margin-right: -20px;
    cursor: pointer;
}
button#post-button:hover{
    background-color: orangered;
    text-shadow: 1px 1px 1px black;
}

button#request-button {
    margin-top: 50px;
    width: 100px;
    height: 50px;
    margin-left: 100px;
    background-color: orange;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
#alertIcon {
    width: 50px;
    margin-left: 200px;
    margin-top: -60px;
    margin-bottom: 60px;
}
button#request-button:hover{
    background-color: orangered;
    text-shadow: 1px 1px 1px black;
}
.circle {
    background-color: red;
    border-radius: 50%;
    color: white;
    width: 50px;
    height: 50px;
    margin-left: 1200px;
    margin-bottom: -200px;
    margin-top: 40px;
    border: none;
    cursor: pointer;
}
.circle:hover {
    background: orangered;
    color: black;
    text-shadow: 2em 1em 1em white;
}
.post-display {
    width: 600px;
    height: 550px;
    background-color: whitesmoke;
    margin-left: 300px;
    margin-top: 100px;
    margin-bottom: -600px;
}
.name {
    font-size: 2em;
    width: 200px;
    margin-left: 60px;
    margin-top: -40px;
    text-shadow: 1px 1px 0px orange;
}
.role {
    background-color: lightgreen;
    border-top: -50px;
    text-shadow: 2px 2px 0px white;
    font-size: 2em;
    width: 100px;
}
.post-user {
    width: 50px;
}

.post-blog {
    background-color: white;
    width: 500px;
    margin-left: 50px;
    margin-top: 50px;
    height: 300px;
    font-size: 2em;
    color: orange;
}
.likes-icon {
    max-width: 5%;
    margin-top: 30px;
    margin-left: 500px;
    cursor: pointer;
}
.likes {
    margin-top: -5px;
    font-size: 2em;
    text-shadow: 1px 1px 0px black;
    color: orange;
    margin-left: 480px;

}
.specialization {
    text-shadow: 1px 1px 0px black;
    color: orange;
}